@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=PT+Sans+Narrow:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif';

}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0px;
    padding: 50px 50px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    scroll-snap-align: center;
    width: 100%;
    overflow-x: hidden;


}

.creator-section {
    height: 100vh;
    width: 100%;
    background: orange;

}

.last-section {
    height: 100vh;
    width: 100%;
    flex-direction: column;
}

.about-section {
    height: 100vh;
    width: 100%;

    flex-direction: column;
}

body {
    font-family: 'Kanit', sans-serif;
    font-family: 'PT Sans Narrow', sans-serif;

    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

}

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scroll-snap-stop: always;
}



.logo {
    font-size: 1.5em;

}

.logo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-top: 1rem;
    transition: 1s ease;
    max-width: 100%;
    height: auto;

}

.logo img:hover {
    transform: rotate(360deg) scale(1.05);
    transition: 0.5s;
}



.nav-links a {
    position: relative;
    font-size: 1.3em;
    color: hsl(0, 0%, 20%);
    text-decoration: none;
    font-weight: 500;
    margin-right: 2rem;

}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2rem;
}

.nav-links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: orange;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.nav-links a:hover::after {
    transform: scaleX(1);
}

.btn-logIn {
    width: 120px;
    height: 60px;
    background-color: #333;
    color: #fff;
    font-weight: 700;
    border: 1px solid #333;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;

}

.btn-logIn:hover {
    border: 2px solid black;
    background-color: black;
    color: #fff;

}

.nav-bar-btn {
    display: flex;
    margin-left: 1rem;
    color: orange;
    border: none;
    cursor: pointer;
    transition: .2s ease;
    font-size: 1.5em;
    display: none;

}

.nav-bar-btn.active {
    background: orange;
    ;
    border: none;
    border-radius: 50%;
    color: #fff;
}

.nav-menu {
    float: left;

}


.nav-content {
    display: none;
}

.nav-content.active {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 15em;
    background-color: #ffa500;
    flex-direction: row;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.nav-content.active a {
    font-size: 1.1em;
    z-index: 1000;
    color: #fff;
    padding: 8px 12px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav-content.active a:hover {
    transform: scale(1.1);
    color: #333;
}

.nav-content.active .btn-nav-login {
    left: 0;
    width: 120px;
    height: 60px;
    background-color: #333;
    border: none;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
}

.nav-content.active .btn-nav-login:hover {
    background-color: black;
    color: #fff;
}


.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    height: 100vh;

}

.home-img {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    max-height: 500px;
}

.home-img img {
    max-width: 100%;
    max-height: 100%;
}

.content {
    position: absolute;
    z-index: 1;
    display: flex;
    margin-right: 50%;
    flex-direction: column;

}



.content h1 {
    font-size: 5rem;
    font-weight: 700;
    color: #333;

}

.content p {
    font-size: 1.5rem;
    font-weight: 500;
    font-style: italic;
    color: #333;
}

.content b {
    font-size: 5rem;
    font-weight: 700;
    color: orange;

}

@media screen and (max-width: 490px),
screen and (max-width: 690px),
screen and (max-width: 390px) {

    .body {
        max-width: 490px;
        overflow: hidden;
    }

    .container {
        margin-right: 0;
        max-width: 490px;
    }

    .content {
        margin-right: 0;
    }

    .content h1,
    .content p,
    .content b {
        text-align: center;
    }

    .creator-list {
        max-width: 390px;
    }


    .foot {
        max-width: 490px;
        flex-direction: column;
        height: 100%;

    }

    .foot-contact {
        width: 100%;
        height: 100%;
        text-decoration: none;
        font-weight: 700;

    }

    .foot-contact p {
        font-size: 1em;
        width: 180px;

    }

    .foot-container  {
    display: none;
    }

    .foot-social {
        height: 100%;
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sec p {
       max-width: 300px;
    }

    .creators h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        max-width: 160px;
        color: #fff;
      }

   .creator-card p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    height: 48px;
   }

  .creator-section {
    background: orange;
  }



    header {
        z-index: 1000;
        padding: 20px 20px;
        max-width: 420px;
        height: 120px;
        width: 100%;
    }

    .nav-bar-btn {
        right: 0;
        display: flex;
        font-size: 2em;
    }

    .logo {
        z-index: 1000;
        font-size: 1.1em;
    }

    .nav-links button {
        width: 80px;
        height: 60px;
        font-size: 1em;
    }

    .nav-links a {
        display: none;
    }

    .app-download h2 {
        text-align: center;
        font-size: 10px;
    }

}


.content .btn-signUp {
    width: 100%;
    min-height: 80px;
    background-color: #333;
    color: #fff;
    font-size: large;
    font-weight: 700;
    border: 1px solid #333;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-top: 2rem;
    cursor: pointer;
}

.content .btn-signUp:hover {
    border: 2px solid black;
    background-color: black;
    color: #fff;
}



.sec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: #333;
}

.sec h2 {
    position: relative;
    font-weight: 700;
    font-style: italic;
    font-size: 2em;
    color: #333;
    margin-bottom: 2rem;

}

.sec h2 b {
    font-size: 1.5em;
    color: orange;
    margin-bottom: 2rem;
}

.sec p {
    font-size: 1.2em;
    font-weight: 500;
    font-style: italic;
    color: #333;
    text-align: center;
}

.sec h2 b {
    font-size: 1.2em;
    font-weight: 700;
    font-style: italic;
    color: orange;
    margin-bottom: 2rem;
    text-align: center;

}

.sec h2 b::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: orange;
    border-radius: 5px;
    transform: scaleX(1);

}


.creators {
    position: relative;
    display: flex;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    flex-direction: column;



}

.creator-card p {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1em;
    height: 36px;
    font-weight: 700;
    color: #fff;
    background: #333;

}

.creators h2 {
    font-weight: 700;
    font-style: italic;
    font-size: 3em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

}



.creator-list a {
    font-size: .9em;
    text-decoration: none;
    font-weight: 700;
    margin-left: 1%;
    color: #333;

}




.creator-img {
    transition: transform 0.5s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: .5%;
    border-radius: 25px;
    padding: 15px;
    gap: 5px;
    margin-right: 10px;
}

.creator-img img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    height: 320px;
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;



}


.creator-img .creator img {
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform 0.5s ease;
}

.creator-img .creator.flipped img {
    transform: rotateY(180deg);
}


.creator-img .creator img {
    height: 320px;
    width: 290px;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform 0.5s ease;

}

.creator-img .creator-card.flipped img {
    transform: rotateY(180deg);

}

.creator-card {
    position: relative;
    perspective: 1000px;
    /* Set the perspective for 3D effect */
    overflow: hidden;
    /* Ensure the border doesn't affect the rotated content */
    cursor: pointer;
    /* Add a pointer cursor to indicate clickability */
    background: orange;
}

.creator-card.flipped .creator-image {
    transform: rotateY(180deg);

}


.creator-info {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    /* Initially hide the creator-info */
    transition: opacity 0.5s ease;
    /* Add a smooth transition effect */
    color: #fff;


}

.creator-info p {
    background: none;
    color: #fff;
    border: none;
    font-size: 1em;
}

.creator-card.flipped .creator-info {
    opacity: 1;
    /* Display the creator-info on hover */

}




.img-foam {
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    z-index: 1;


}

.img-foam img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;



}

.app-download {
    width: 100%;
    height: 100%;
    flex-direction: column;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;


}

.app-download h2 {
    position: relative;
    font-weight: 700;
    font-style: italic;
    font-size: 4em;
    color: orange;
    margin-bottom: 2rem;

}

.app-download p {
    position: relative;
    font-size: 1.2em;
    font-weight: 500;
    font-style: italic;
    color: #333;
    margin-bottom: 2rem;
}




.img-app img {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;

}

.img-app img {
    max-width: 220px;
    max-height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease;
}

.app-download .img-app img:hover {
    transform: scale(1.02);
    transition: 0.5s;
}

.foot {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20vh;
    z-index: 1;
    background: orange;
    border-top: 2px solid #333;
    flex-direction: row;

}

.foot-social {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    text-decoration: none;
    font-weight: 700;
    gap: 10px;
    margin-left: 2rem;

}

.foot a {
    font-size: 1.5em;
    text-decoration: none;
    font-weight: 700;
    color: #333;

}

.foot-social a:hover {
    scale: 1.05;

}

.foot-contact {
    max-width: 240px;
    position: relative;
    text-decoration: none;
    font-weight: 700;
    flex-direction: column;
    padding: 10px;


}

.foot-contact a {
    font-size: 1.5em;
    text-decoration: none;
    margin-bottom: 2rem;
    font-weight: 700;
    color: #333;

}

.foot-contact p {
    font-size: 1.1em;
    text-decoration: none;
    font-weight: 500;
    color: #333;

}

.foot-container {
    max-height: 100%;
    max-width: 100%;
    float: right;
    margin-right: 10px;


}

.foot .foot-container p {
    position: relative;
    font-size: 1em;
    text-decoration: none;
    font-weight: 500;
    color: #333;
    margin-bottom: 2rem;



}

.nav-menu-inactive {
    height: 100%;
    max-width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: orange;
    overflow-x: hidden;
    padding-top: 20px;
    border-left: 1px solid #333;
    transform: scale(0);
}

.nav-menu a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 1.1em;
    text-decoration: none;
    font-weight: 500;
    color: #fff;

}

.nav-menu button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 35%;
}

.nav-menu a:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.nav-menu.active {
    right: 0;
}



.wrapper {
    position: fixed;
    width: 400px;
    height: 440px;
    background: transparent;
    border: .1px solid #fff;
    border-radius: 20px;
    backdrop-filter: blur(40px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transform: translateX(-50%) scale(0);
    transition: transform .5s ease, height .2s ease;
    z-index: 1000;
}



.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    top: 0;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #333;
    color: #fff;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
    transition: 0.2s;

}

.wrapper.active-popup {
    transform: scale(1);
}

.wrapper.active {
    height: 520px;
}

.wrapper .icon-close:hover {
    background: black;
}

.wrapper .form-box h2 {
    font-size: 2em;
    color: #333;
    text-align: center;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #333;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #333;
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s;

}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #333;
    font-weight: 500;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: orange;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: #333;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;

}

.remember-forgot label input {
    accent-color: orange;
    margin-right: 3px;
}

.remember-forgot a {
    color: #333;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 50px;
    background-color: #333;
    border: 2px solid #333;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1.3em;
    font-weight: 700;
    color: orange;

}

.btn:hover {
    border: 2px solid black;
    background-color: black;

}

.login-register {
    font-size: .9em;
    color: #333;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;

}

.login-register p a {
    color: #333;
    text-decoration: none;
    font-weight: 700;

}

.login-register p a:hover {
    text-decoration: underline;
}